.ruling-scroller.page-container
  .main-column.faq-container.ruling-container

    h1 FAQ
    h2 Le site
    .question-container
      h3.font-village Quel est le but de Hens World?
      .paragraph Hens World a pour but de rassembler des créateurs, des rôlistes, des rêveurs ou tout simplement des curieux qui explorent, imaginent et collaborent ensemble autour d’un univers: Hens. Pour cela, il y a plusieurs moyens: vous pouvez, à l’instar de deviantArt, venir poster vos créations qui ont toutes la même base commune: le monde de Hens. Vous pouvez également créer un personnage, qui évolue dans cet univers et le faire interagir avec d’autres membres à travers des parties de jeu de rôle textuel. Et si vous êtes simplement curieux, vous pouvez découvrir les créations postées sur le site, ou voyager dans les cartes des villages, vous en avez tout à fait le droit aussi. C’est un site internet centré sur le partage, la découverte, la culture et l’imaginaire. C’est à vous de choisir ce que vous souhaitez y faire parmi les différentes possibilités que nous vous proposons!
    .question-container
      h3.font-village Hens World deviendra-t-il par la suite un jeu vidéo type MMORPG, ou jeu par navigateur?
      .paragraph Non, le site de Hens World ne deviendra pas un jeu en ligne. Ce n’est pas notre volonté, nous voulons continuer à évoluer sous cette forme. Néanmoins, il n’est pas impossible, ni interdit, que des créateurs s’attaquent à la réalisation d’un jeu de ce type en reprenant l’univers de Hens, mais de leur côté, avec leurs outils, et qui pourrait être ensuite partagé sur le site. Nous sommes même très favorables à ce genre d'initiatives ! Mais la plateforme en elle même, le site web, n’évoluera pas pour devenir un jeu. 
    .question-container 
      h3.font-village Pourra-t-on contrôler un petit personnage à notre effigie qui se déplace sur la carte des villages?
      .paragraph Un personnage, non. Bien que l’idée soit amusante, et nous ait déjà traversé l’esprit, nous ne pouvons pas, et ne souhaitons pas intégrer cette fonctionnalité. D’une part pour des raisons techniques et graphiques, de l’autre parce que, comme dit précédemment nous ne souhaitons pas aller en direction d’un jeu en ligne. Néanmoins, il est fort probable que nous ajouterons une autre manière de se déplacer dans la carte des villages. Une façon tout aussi immersive et qui permettrait de rencontrer les autres membres qui peuvent s’y promener en même temps que vous. Cela prendra davantage en compte l’avatar de votre profil et/ou l’avatar de votre personnage. Affaire à suivre!
    .question-container
      h3.font-village Comment reporter les bugs?
      .paragraph Le plus évident pour nous reste le forum. C’est le meilleur moyen de recenser les problèmes et de nous permettre d’y accéder et de les lire facilement. Si le forum vous fait peur, vous pouvez toujours nous écrire à contact@hens-world.fr!
    .question-container
      h3.font-village Puis-je suggérer des améliorations/fonctionnalités?
      .paragraph Évidemment! Nous sommes toujours ravis de discuter avec les membres pour échanger autour de propositions et réfléchir à des directions à prendre ensemble, si elles correspondent au site, bien entendu. Pour cela, le plus simple reste encore une fois le forum, pour qu’à la fois le développeur et toute l’équipe du site puisse vous lire!
    .question-container
      h3.font-village Pourquoi le développement du site peut parfois prendre un peu de temps?
      .paragraph Nous sommes un petit groupe d’amis qui travaillons sur le site pendant notre temps libre. Ainsi nous ne pouvons pas garantir la rapidité et des services aussi efficaces qu’un site professionnel.Mais nous faisons notre maximum! Et nous souhaitons être à l’écoute de tous, mais l’avancée du site peut prendre plus du temps selon la vie personnelle et professionnelle de chaque membre de l’équipe.
    .question-container
      h3.font-village Comment peut-on avoir son personnage présent dans les villages?
      .paragraph Seule l’équipe du site et les donateurs ont leurs personnages intégré sur les cartes des villages. Cela nous demande un travail graphique et un petit laps de temps de développement, du coup nous avons songé à vous proposer de pouvoir voir votre personnage intégré si vous souhaitez aider le site financièrement! Nous l’ intégrerons et le dessinerons nous même pour qu’il vive sa vie au sein des villages.
    .question-container
      h3.font-village Comment va évoluer le site?
      .paragraph Nous souhaitons que le site évolue de façon plus interactive et communautaire en proposant des rendez-vous réguliers à nos membres sur la plateforme ( des événements à l'intérieur même des villages par exemple ). Mais la base du site est déjà là: la création et le jeu de rôle. Ce dernier sera  décliné sous plusieurs formes, pour que chacun trouve son compte à faire du jeu de rôle de la manière qu’il préfère. 
    .question-container
      h3.font-village Comment se tenir au courant des mises à jour et améliorations?
      .paragraph Nous postons tout sur twitter, facebook et le forum! A partir de l’un des trois vous pourrez vite vous tenir au courant de toutes nos mises à jour.*
    .question-container
      h3.font-village Quelles sont les limites d'interprétation du monde de Hens ?
      .paragraph 
        span Voici ce qui - pour l’équipe du site - est une base inchangeable de Hens World:
        ul
          li Il y a quatre villages qui représentent chacun un élément/une saison
          li Les habitants de Hens sont des humains, ce ne sont pas des extras terrestres, ni des robots, ni toute autre espèce.
          li Il y a des pouvoirs 
          li Il y a quatre cheftains.
        span Vos oeuvres et parties de jeu de rôle peuvent ensuite être des dérivés de cette base, se situant dans des mondes ou visions alternatives différents du Hens proposé sur le site. Si jamais vous le souhaitez, mais ce n’est pas obligatoire, vous pouvez signaler dans la description de vos oeuvres que vous imaginez une version alternative de Hens World.
        span A votre guise de poster vos créations dans une chronologie différente, vision différente, monde alternatif…L'interprétation est le mot d’ordre quant à votre contribution artistique et vos parties de jeu de rôle!
    .question-container
      h3.font-village Pourquoi “Hens”?
      .paragraph Parce qu’on était pas très forts en anglais étant adolescents… et puis… les poules c’est mignon, non…?
    
    h2 Poster ses créations
    .question-container
      h3.font-village Comment peut-on poster ses créations?
      .paragraph Il suffit de cliquer sur “ Poster une création “ et, si c’est la première fois, vous devrez d’abord remplir un petit formulaire sur vous, vos médiums artistiques etc... Cela arrivera dans notre boîte mail, et nous vous répondrons par la suite sur votre adresse! Après un ou deux échanges, si tout va bien, votre compte “contributeur” sera déverrouillé pour que vous puissiez poster vos créations depuis le bouton dédié à celà!
    .question-container
      h3.font-village Pourquoi tout le monde n’est pas dès l’inscription un “contributeur”?
      .paragraph Nous souhaitons prendre un premier contact avec les personnes voulant poster leurs créations sur le site de Hens, nous assurer qu’ils ne souhaitent pas poster de contenu malveillant, qu’ils ont vraiment envie de participer. Être contributeur c’est avoir une petite responsabilité dans la construction de l’univers!
    .question-container
      h3.font-village Il y a t-il un “niveau” pour poster ( par exemple en écriture, ou en dessin )?
      .paragraph Alors, il n’y a pas d’échelle de talent établie, parce que cela est dur à définir, subjectif, et on a envie que chacun puisse s’exprimer. En revanche, veuillez prendre soin de vos oeuvres avant de les poster, évitez de poster quelque chose de brouillon, avec une mauvaise syntaxe ou pas fini. Tentez de proposer vos oeuvres sur le site au moment où vous ne voulez plus y retoucher. En ce qui concerne l’orthographe et la ponctuation, nous ne sommes pas trop exigeants, mais veillez à être compréhensibles et lisibles. Faites le plus d’efforts possibles et avant de poster, relisez vous ou tentez de vous corriger au maximum ( si il le faut à l’aide de correcteur d’orthographe externe ).
    .question-container
      h3.font-village Quelles sont les règles pour contribuer?
      .paragraph Respecter la base de l’univers de Hens, tout en pouvant l'interpréter à sa manière. Mais aussi veiller à ne pas franchir les limites posées par le règlement du site: à savoir pas d’oeuvres malveillantes, diffamatoires, discriminatoires. Quant à la nudité, sexualité et violence, cela doit être modéré ainsi que signalé dans vos titres et descriptions. Le reste est plus détaillé dans la “charte de contribution” présente sur le panneau de création.
    .question-container
      h3.font-village Doit-on suivre les indications de lieux et d’époque données par les cartes des villages?
      .paragraph Non. Pour poster dans le panneau de contribution, gardez bien à l’esprit que vous pouvez vous approprier et interpréter l’univers comme vous le souhaitez. Si dans votre récit vous décidez que tel ou tel village est plus grand qu’un autre, que son architecture est différente… libre à vous de le décider! Vous pouvez, si cela vous arrange, signifier dans la description de votre création qu’il peut s’agir d’un monde de Hens alternatif. Les cartes des villages ne détiennent pas la “ vérité absolue “, elles sont là pour établir une base dont tout le monde peut s’inspirer et se servir. A vous d’utiliser cela dans vos oeuvres comme bon vous semble!
    .question-container
      h3.font-village Doit-on se restreindre aux médiums “ photos, vidéos, jeux vidéos, musiques, écrits et dessins “ ?
      .paragraph Évidemment que non! Tous les médiums et médias peuvent être envisagés. Nous sommes d’ailleurs ouverts à toutes les propositions si vous avez des idées pour mettre en valeur un médium ou média différent de ceux proposés.
    .question-container
      h3.font-village Peut on intégrer des objets, des animaux, des personnages visibles directement sur les cartes des villages?
      .paragraph 
        span Ce n’est pas impossible, mais pour cela il va falloir prendre en compte un bon nombre de choses et de règles, étant donné que cela n’est pas une des fonctionnalités de base prévue sur le site. Dans un premier temps, à part si vous souhaitez recréer une carte entière de A à Z, il va falloir respecter le style graphique des cartes actuelles. 
        span Si vous souhaitez intégrer des personnages, des objets, des animaux au site, c’est la carte qui devient votre référence. Nous voulons conserver le style et l’ambiance de celles-ci, donc nous acceptons les oeuvres sur les cartes sous les conditions suivantes:
        ul
          li Comme dit plus haut, un respect du style graphique et/ou du style d’animation
          li Pas de modifications directe d’un bâtiment ou d’un élément déjà incrusté sur la map. C’est à discuter, mais il faut que l'oeuvre soit un “ ajout “ et non une “ modification “ ou un “ retrait “. 
          li Le fichier doit être conçu à la bonne taille, les objets doivent être à la bonne échelle, et l’export final serait parfait en .png sur fond transparent. 
          li Vous devez savoir que si besoin est, nous pouvons effectuer une retouche sur la colorimétrie pour qu’elle s’intègre mieux au site.
        span Nous sommes désolés d’imposer tout cela, mais il faut prendre en compte que ce n’est pas une fonctionnalité prévue de base, et que intégrer vos créations de façon directement visible sur la carte nous demande un temps de développement supplémentaire à chaque petit élément ajouté. 
        span Mais nous avons eu de très chouettes propositions pour habiller les cartes, qui respectaient parfaitement les conditions citées ci dessus. C’est pourquoi nous ne fermons pas la porte à ce genre d’idées! Nous prenons ça comme une autre manière de collaborer ensemble et d’agrandir l’univers! 
        span Alors si vous vous sentez capables de respecter nos petites règles ci-dessus, écrivez nous à contact@hens-world.fr et nous en discuterons volontiers ensemble :)
    
    h2 Le jeu de rôle
    .question-container 
      h3.font-village Qu’est-ce que le jeu de rôle?
      .paragraph Le jeu de rôle est le moyen d’incarner un personnage qu’on a soi même inventé, ou que quelqu’un a inventé pour nous. Il existe de nombreuses manières de faire du jeu de rôle dans le monde, et dans pleins d’univers. Sur ce site, le jeu de rôle sera centré sur l’univers de Hens et sur vos personnages. Il sera en majeure partie “ textuel “ c’est à dire que vous incarnez vos personnages de manière écrite et non orale.
    .question-container
      h3.font-village J’aime le jeu de rôle mais je ne trouve pas mon compte sur Hens World… comment cela va-t-il évoluer?
      .paragraph Nous voulons proposer aux joueurs de choisir de par eux même la manière dont ils souhaiteraient jouer leur personnage. C’est pourquoi notre envie est de développer plusieurs façons de faire du jeu de rôle: en temps réel, de type forum, ou bien avec MJ. Le développement de ces outils adaptés au site peut nous prendre un certain temps, et nous souhaitons y ajouter notre petite touche pour les incruster au mieux sur la plateforme. Si vous avez des suggestions concernant telle ou telle manière de faire du jeu de rôle sur Hens World, nous aurons besoin de vos avis lors des phases de développement, pour que vous puissiez nous aider à prendre les meilleures directions pour vous et vos envies de rôliste. Donc, au fil du temps, vous trouverez sur Hens World la manière de faire du roleplay qui vous convient le mieux!
    .question-container
      h3.font-village Peut-on faire des doubles comptes?
      .paragraph Vous pouvez recréer un compte si vous souhaitez vraiment jouer un autre personnage dans l’immédiat. Mais dans le futur, il sera possible de créer plusieurs personnages sur un seul et même compte.
    
    h2 Les dons
    .question-container
      h3.font-village Comment sont utilisés les dons qu’on peut faire sur le site?
      .paragraph
        span Les dons nous aident à faire avancer notre site. En priorité cela nous permet de payer notre(nos) serveur(s) et notre nom de domaine. Nous avons également acheté des logiciels et licences pour travailler sur le site.
        span Avec le reste nous avons décidé d’investir dans tout ce qui est oeuvre physique autour du site. Nous éditons des fanzines d’après les créations du site, et nous réalisons quelques goodies comme des pendentifs, des figurines… Ces dons peuvent également nous permettre de nous déplacer en festivals ou conventions dans lesquels nous présentons le site et rencontrons la communauté! 
    
