#home-container
  .main-circle-container
    svg.circles(width="320" height="320" xmlns="http://www.w3.org/2000/svg")
    .text  Hens World est une platetforme créative et communautaire autour  d’un univers fictif.
  a.button.button--meaty.fond-village.hover(href="/inscription") S'inscrire
  a.button.button--meaty.fond-village.hover(href="/login") Se connecter