.title-nav Barre de navigation
  .miniature 
  .text 
    p Une fois connecté, vous pouvez accéder à la barre de Navigation, accessible en cliquant sur l’extrémité gauche du site, depuis n’importe qu’elle page. Les 4 boutons en haut représentent des fonctionnalités futures: Amis, Messages privés, animal liés, et guide de l’archipel.
    p La liste en dessous montre les derniers articles publiés. La barre de recherche permet de trier selon ce que vous cherchez ( par auteur, par thème, par village etc…). Vous pouvez aussi accéder grâce aux onglets coeur et étoiles respectivement aux derniers articles de vos contributeurs favoris,  et à vos articles favoris. 

.title-nav Lecteur de musique
  .miniature
  .text
    p Le lecteur de musique, en haut à droite joue les dernières musiques créées par les contributeurs. Lorsque vous êtes dans un village, la playlist en cours changera automatiquement pour les musiques créées dans ce dernier.
