.constellations-game
  iframe.constellations-game__iframe(id="iframeConstellations" width="1295" height="780" src="https://kyrio.github.io/hens-skymap/")
  .constellations-game__credits
    p
      span Réalisé par
      a.font-village.hover(href="https://hens-world.com/profil/120")  Q-I-R
      span ,
      a.font-village.hover(href="https://hens-world.com/profil/123")  XXNO
      span   et
      a.font-village.hover(href="https://itch.io/profile/kyrio")  Kyrio