.page-container.no-side
  .guide-touristique__container
    h1 Guide Touristique
    .guide-touristique__section
      a.guide-touristique__element(href="/population")
        svg(width="166" height="166")
          rect.dash(x="0" y="0" width="166" height="166")
        .icon(style="background-image:url(/medias/guide-touristique/population.png)")
        .element-text Population
      a.guide-touristique__element(href="/guide-touristique/visite-guidee")
        svg(width="166" height="166")
          rect.dash(x="0" y="0" width="166" height="166")
        .icon(style="background-image:url(/medias/guide-touristique/guide.png)")
        .element-text Visite Guidée
      a.guide-touristique__element(href="/guide-touristique/calendrier")
        svg(width="166" height="166")
          rect.dash(x="0" y="0" width="166" height="166")
        .icon(style="background-image:url(/medias/guide-touristique/calendrier.png)")
        .element-text Calendrier

