.village-loca
  .village-loca__actions
    .village-loca__switch(ng-click="setState('creation')" ng-class="{'active fond-village': villageLocaState == 'creation'}")
      span Créations
    .village-loca__switch(ng-click="setState('roleplay')" ng-class="{'active fond-village': villageLocaState == 'roleplay'}")
      span Jeu de rôle
    .village-loca__close(ng-click="closeSelf()")
  .village-loca__main(ng-switch="villageLocaState")
    .village-loca__state.village-loca__state--creation(ng-switch-when="creation")
      .info-text.village-loca__empty-notice(ng-if="posts.length == 0") Aucune création n'a été postée ici. Soyez le premier à remplir ce lieu!
      .village-loca__list(ng-class="{'solo': posts.length == 1}")
        a.village-loca__element(ng-repeat="post in posts" ng-click="setSeen(post)" href="{{post.type}}/{{post.slug}}")
          .village-loca__notif.hot-notification(ng-class="{'active':post.isHot}") !
          img.preview(ng-if="post.chosenImage" ng-src="{{post.chosenImage}}")
          .text(ng-if="post.formatExcerpt" )
            p(ng-bind-html="post.formatExcerpt")
          img.preview.miniature(ng-if="!post.chosenImage && !post.formatExcerpt" ng-src="{{post.miniature}}")
          .village-loca__info.other-user(class="{{post.author.village}}")
            .center-info
              h3(ng-bind-html="post.title")
              .author
                //span posté par
                span.font-village  {{post.author.display_name}}
                //span  le
                //span  {{post.formatDate}}

    .village-loca__state.village-loca__state--roleplay(ng-switch-when="roleplay")
      .info-text.village-loca__empty-notice(ng-if="roleplays.length == 0") Aucune partie n'a été réalisée ici. Invitez d'autres membres pour y vivre la première aventure!
      .village-loca__list.village-loca__list--roleplay(ng-if="roleplays.length > 0" ng-class="{'solo': roleplays.length == 1}")
        a.village-loca__element--roleplay.village-loca__element(ng-repeat="roleplay in roleplays" ng-click="setRPSeen(roleplay)" href="/roleplay/{{roleplay.type}}/{{roleplay.id}}")
          .village-loca__element-hot
            .hot-notification.hot-notification--roleplay(ng-class="{'active':roleplay.isHot}") !
          .village-loca__element-infos
            h3.village-loca__element-title(ng-bind-html="roleplay.title")
            .village-loca__element-author()
              span  participants:
              span.participant.other-user(class="{{user.meta.village}}" ng-repeat="user in roleplay.participants")
                span.font-village(ng-bind-html="' ' + user.display_name")
            .info-text.village-loca__post-date
              p(ng-bind-html="roleplay.type === 'differe' ? 'Jeu de rôle différé' : 'Jeu de rôle instantané'")
              p(ng-bind-html="roleplay.last_message")
