.fireworks
  .fireworks__content
    .fireworks__button.fond-village.border-village.low(ng-click="fwCtrl.toggleLaunch()")
      span.fireworks__title.fond-village.light(ng-class="{'hidden': fwCtrl.controls.activated}") Feu d'artifice
      .fireworks__control-container(ng-class="{'visible': fwCtrl.controls.activated}")
        .fireworks__control()
          .fireworks__control-selected(ng-click="fwCtrl.showParam('pattern')")
            .fireworks__pattern(class="{{fwCtrl.currentOptions.pattern}}")
          .fireworks__control-list(ng-show="fwCtrl.controls.pattern")
            .fireworks__control-element(ng-repeat="element in fwCtrl.patterns" ng-click="fwCtrl.selectParam('pattern', element)")
              .fireworks__pattern(class="{{element}}")
        .fireworks__control()
          .fireworks__control-selected(ng-click="fwCtrl.showParam('shape')")
            .fireworks__shape(class="{{fwCtrl.currentOptions.shape}}")
          .fireworks__control-list(ng-if="fwCtrl.controls.shape")
            .fireworks__control-element(ng-repeat="element in fwCtrl.shapes" ng-click="fwCtrl.selectParam('shape', element)")
              .fireworks__shape(class="{{element}}")
        .fireworks__control()
          .fireworks__control-selected(ng-click="fwCtrl.showParam('colors')")
            .color-param(ng-show="fwCtrl.currentOptions.colors.length === 2")
              .semi-circle-left(style="background-color:rgb({{fwCtrl.currentOptions.colors[0][0]}}, {{fwCtrl.currentOptions.colors[0][1]}}, {{fwCtrl.currentOptions.colors[0][2]}})")
              .semi-circle-right(style="background-color:rgb({{fwCtrl.currentOptions.colors[1][0]}}, {{fwCtrl.currentOptions.colors[1][1]}}, {{fwCtrl.currentOptions.colors[1][2]}})")
            .color-param(ng-show="fwCtrl.currentOptions.colors.length === 3" style="background-color:rgb({{fwCtrl.currentOptions.colors[0]}}, {{fwCtrl.currentOptions.colors[1]}}, {{fwCtrl.currentOptions.colors[2]}})")
          .fireworks__control-list(ng-show="fwCtrl.controls.colors")
            .fireworks__control-element(ng-repeat="element in fwCtrl.colors[fwCtrl.currentOptions.pattern]" ng-click="fwCtrl.selectParam('colors', element)")
              .color-param(ng-show="element.length === 2")
                .semi-circle-left(style="background-color:rgb({{element[0][0]}}, {{element[0][1]}}, {{element[0][2]}})")
                .semi-circle-right(style="background-color:rgb({{element[1][0]}}, {{element[1][1]}}, {{element[1][2]}})")
              .color-param(ng-show="element.length === 3" style="background-color:rgb({{element[0]}}, {{element[1]}}, {{element[2]}})")
        .fireworks__launch.fond-village(ng-click="fwCtrl.launchFirework()")
          span GO
    .fireworks__counters(ng-class="{'visible': fwCtrl.controls.activated}")
      .fireworks__counter.fond-village.dark(ng-repeat="amount in fwCtrl.getCounters() track by $index")
        .spinner.pie.fond-village(style="{{fwCtrl.getSpinnerStyle(amount)}}")
        .filler.pie.fond-village(ng-show="amount >= .5")
        .mask.fond-village.dark(ng-show="amount < .5")