.rp-create-type
    a.rp-create-type__panel.rp-create-type__panel--instant(href="roleplay/chat{{query}}" ng-class="{'fond-village hover': hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false")
      h2 Jeu de rôle instantané
      .rp-create-type__text
        div
          p Jeu de rôle textuel proposant aux membres de jouer leurs personnages au tour par tour en temps réel. La partie a une durée limitée de quelques heures, les réponses doivent être rapides et des évènements aléatoires peuvent pimenter la partie.
          p
            i Attention,  pour ce type de jeu de rôle, soyez sûr d'être accompagné de partenaires d'aventures connectés en même temps que vous sur Hens World!
    a.rp-create-type__panel.rp-create-type__panel--async(href="roleplay/differe{{query}}" ng-class="{'fond-village hover': hover2}" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false")
      h2 Jeu de rôle différé
      .rp-create-type__text
        div
          p Jeu de rôle textuel permettant aux membres de créer une partie dans laquelle ils devront jouer leur personnage en se répondant tour à tour. Il n'y a aucune contraite de temps, et les réponses dépendent de la disponibilité de chacun! Une ambiance musicale pourra être ajoutée à vos aventures pour vous immerger au mieux au coeur de votre partie.
