.no_access_container()
  .avatar(style='background:url({{imgList[seed]}});background-size:100%;')
  .info
    span
      | Vous n'avez pas accès à ce contenu, désolé :( . Veuillez vous connecter ou vous inscrire pour accéder au contenu.
    br
    a(href='inscription') S'inscrire
    br
    a(href='/hens-world') Revenir à l'accueil
