.page-container
  .main-column.aulne-papier
    img.border-village(src="medias/events/equinoxe-printemps/solutions/{{note.link}}")
    p {{note.info}}
    .button.button--meaty.fond-village.hover(ng-click="getGraines()") Obtenir les graines