.crushrun-download
  .crushrun-download__container
    .crushrun-download__title COUPE DE CRUSHRUN
    a.button--meaty.button.fond-village.hover(href="/uploads/coupe_crushrun.zip" target="_blank") Télécharger
    .crushrun-download__text
      span Pour participer à l'évènement, il faut télécharger le jeu "Crushrun" ci-dessus. L'application ne se lance que sur un système d'exploitation
      b  Windows
      span . Pensez à vous munir d'un clavier ou d'une manette !

    .crushrun-download__text
      span N'oubliez pas de vous saisir de votre code Crushrun dans vos
      a.link.hover.font-village(href="/parameters")  paramètres
      span  !