.page-container
  .main-column(ng-show="isAdminValid")
    h1 Hello Admin !
    p admin valid content : {{indexData}}
    .line-separator
    .admin-dialogue__container
        h2  Dialogues
      .admin-dialogue__element(ng-repeat="dialogue in dialogues")
        .admin-dialogue__display(ng-show="!dialogue.open")
          .admin-dialogue__display-infos
            .admin-dialogue__etape.info-unit
              .label Etape:
              .value.font-village {{dialogue.initialData.step}}
            .admin-dialogue__character.info-unit
              .label Personnage:
              .value.font-village {{characters[dialogue.initialData.character_id]}}
            .admin-dialogue__mood.info-unit
              .label Humeur requise :
              .value.font-village {{dialogue.initialData.mood_required}}
            .admin-dialogue__text
              .label Texte:
              .value {{dialogue.initialData.text}}
          .admin-dialogue__deplier.font-village.hover(ng-click="openDialogue(dialogue)") v
        .admin-dialogue__edit(ng-show="dialogue.open")
          .field
            .label Etape
            input.form(type="text" ng-model="dialogue.data.step")
          .field
            .label Personnage
            input.form(type="number" ng-model="dialogue.data.character_id")
          .field
            .label Texte
            textarea.form-area(ng-model="dialogue.data.text")
          .field
            .label Humeur requise (-1/0/1)
            input.form(type="number" ng-model="dialogue.data.mood_required")
          .button.button--meaty.fond-village.hover(ng-click="putDialogue(dialogue)") Mettre à jour
          .button.button--meaty.hover.button--danger(ng-click="deleteDialogue(dialogue)") Supprimer
          .admin-dialogue__reponses
            h3 Réponses
            .admin-reponse__element(ng-repeat="reponse in dialogue.reponses")
              .field
                .label text
                input.form(type="text" ng-model="reponse.text")
              .field
                .label Humeur donnée (-1/0/1)
                input.form(type="number" ng-model="reponse.mood_given")
              .field
                .label Action (optionnelle)
                input.form(type="text" ng-model="reponse.action")
              .button.button--meaty.fond-village.hover(ng-click="putReponse(dialogue, reponse)") Mettre à jour
              .button.button--meaty.button--danger.hover(ng-click="deleteReponse(dialogue, reponse)") Supprimer
            .line-separator
            .button.button--meaty.fond-village.hover(ng-click="openNewReponse(dialogue)") + Nouvelle Réponse
            .admin-reponse-new(ng-show="dialogue.openReponse")
              .field
                .label text
                input.form(type="text" ng-model="newReponseData.text")
              .field
                .label Humeur donnée (-1/0/1)
                input.form(type="number" ng-model="newReponseData.mood_given")
              .field
                .label Action (optionnelle)
                input.form(type="text" ng-model="newReponseData.action")
              .button.button-meaty.hover(ng-click="closeNewReponse(dialogue)") Annuler
              .button.button-meaty.fond-village.hover(ng-click="postNewReponse(dialogue)") Valider
      .button.button--meaty.fond-village.hover(ng-click="openNewDialogue()") + Nouveau Dialogue

    .admin-new-dialogue(ng-show="dialogueCreationOpen")
      .field
        .label Etape
        input.form(type="number" ng-model="newDialogueData.step")
      .field
        .label Personnage
        input.form(type="number" ng-model="newDialogueData.character_id")
      .field
        .label Texte
        textarea.form-area(ng-model="newDialogueData.text")
      .field
        .label Humeur requise (-1/0/1)
        input.form(type="number" ng-model="newDialogueData.mood_required")
      .button.button--meaty.hover(ng-click="closeNewDialogue()") Annuler
      .button.button--meaty.fond-village.hover(ng-click="postNewDialogue()") Valider
