.page-container
  .main-column(ng-show="isAdminValid")
    h1 Hello Admin !
    .line-separator
    // dialogs
    .admin-category
        h2(ng-click="toggle('dialog')" ng-class="{'is-open': isShown('dialog')}")  Dialogues
      .admin-dialogue__element(ng-show="isShown('dialog')" ng-repeat="dialogue in dialogues")
        .admin-dialogue__display(ng-show="!dialogue.open")
          .admin-dialogue__display-infos
            .admin-dialogue__etape.info-unit
              .label Etape:
              .value.font-village {{dialogue.initialData.step}}
            .admin-dialogue__character.info-unit
              .label Personnage:
              .value.font-village {{characters[dialogue.initialData.character_id]}}
            .admin-dialogue__mood.info-unit
              .label Humeur requise :
              .value.font-village {{dialogue.initialData.mood_required}}
            .admin-dialogue__text
              .label Texte:
              .value {{dialogue.initialData.text}}
          .admin-dialogue__deplier.font-village.hover(ng-click="dialog.open(dialogue)") v
        .admin-dialogue__edit(ng-show="dialogue.open")
          .field
            .label Etape
            input.form(type="text" ng-model="dialogue.data.step")
          .field
            .label Personnage
            input.form(type="number" ng-model="dialogue.data.character_id")
          .field
            .label Texte
            textarea.form-area(ng-model="dialogue.data.text")
          .field
            .label Humeur requise (-1/0/1)
            input.form(type="number" ng-model="dialogue.data.mood_required")
          .button.button--meaty.fond-village.hover(ng-click="dialog.confirmEdit(dialogue)") Mettre à jour
          .button.button--meaty.hover.button--danger(ng-click="dialog.delete(dialogue)") Supprimer
          .admin-dialogue__reponses
            h3 Réponses
            .admin-reponse__element(ng-repeat="reponse in dialogue.reponses")
              .field
                .label text
                input.form(type="text" ng-model="reponse.text")
              .field
                .label Humeur donnée (-1/0/1)
                input.form(type="number" ng-model="reponse.mood_given")
              .field
                .label Action (optionnelle)
                input.form(type="text" ng-model="reponse.action")
              .button.button--meaty.fond-village.hover(ng-click="dialog.reponse.confirmEdit(dialogue, reponse)") Mettre à jour
              .button.button--meaty.button--danger.hover(ng-click="dialog.reponse.delete(dialogue, reponse)") Supprimer
            .line-separator
            .button.button--meaty.fond-village.hover(ng-click="dialog.reponse.openNew(dialogue)") + Nouvelle Réponse
            .admin-reponse-new(ng-show="dialogue.openReponse")
              .field
                .label text
                input.form(type="text" ng-model="newReponseData.text")
              .field
                .label Humeur donnée (-1/0/1)
                input.form(type="number" ng-model="newReponseData.mood_given")
              .field
                .label Action (optionnelle)
                input.form(type="text" ng-model="newReponseData.action")
              .button.button-meaty.hover(ng-click="dialog.reponse.closeNew(dialogue)") Annuler
              .button.button-meaty.fond-village.hover(ng-click="dialog.reponse.postNew(dialogue)") Valider
      .button.button--meaty.fond-village.hover(ng-click="dialog.openNew()") + Nouveau Dialogue
      .admin-new-dialogue(ng-show="dialogueCreationOpen")
        .field
          .label Etape
          input.form(type="number" ng-model="newDialogueData.step")
        .field
          .label Personnage
          input.form(type="number" ng-model="newDialogueData.character_id")
        .field
          .label Texte
          textarea.form-area(ng-model="newDialogueData.text")
        .field
          .label Humeur requise (-1/0/1)
          input.form(type="number" ng-model="newDialogueData.mood_required")
        .button.button--meaty.hover(ng-click="dialog.closeNew()") Annuler
        .button.button--meaty.fond-village.hover(ng-click="dialog.postNew()") Valider
    //migration
    .admin-category
      h2(ng-click="toggle('migration')" ng-class="{'is-open': isShown('migration')}") Migrations
      .migration(ng-show="isShown('migration')")
        .edit-field
          .label id compte source
          input.form(type="number" ng-model="account.source_id")
        .perso-info.other-user(class="{{account.source.village}}")
          p.font-village {{account.source.display_name}}

        .edit-field
          .label index perso source 
          input.form(type="number" ng-model="account.character.source_index")
        .perso-info.other-user(class="{{account.character.source.village}}") 
          p perso source
          p.font-village {{account.character.source.prenom}}

        .edit-field
          .label id compte cible 
          input.form(type="number" ng-model="account.target_id")
        .perso-info.other-user(class="{{account.target.village}}") 
          p.font-village.other-user {{account.target.display_name}}

        .edit-field
          .label index perso cible
          input.form(type="number" ng-model="account.character.target_index")
        .perso-info.other-user(class="{{account.character.target.village}}") 
          p.font-village {{account.character.target.prenom}}

        .button.button--meaty.fond-village.hover(ng-click="account.character.move_to()") Transférer {{account.character.source.prenom}}