.fav-inner-block
  a.fav-element(ng-repeat="article in likedArts" ng-mouseover="displayName(article)" ng-mouseleave="hideName()" href="{{article.type}}/{{article.slug}}" style="background:url({{article.miniature}}),#222;background-size:100% 100%;")
