.page-container.signup-confirm
  .signup-confirm__content.wilwar
    img(src="{{imageLink}}")
    h1.font-village SUPER!
    p Votre compte est désormais activé! Rendez-vous dans l'encart de connexion, en haut à droite pour vous connecter et voyager dans le monde de Hens! :)
