.charte-creation-container
  h1 Charte des créations
  h2 Être créateur sur Hens World
  p Qu’est-ce qu’une création postée sur Hens World? C’est tout simplement une oeuvre qui est créée par vous, inspirée par l’univers de Hens qui est présenté sur le site.
  p L’oeuvre peut être de tous médias, médiums, et s’ inspirer de l’univers de Hens dans toute sa globalité: les villages, les lieux, les personnages, les histoires annexes, les légendes, les rumeurs, les créatures, les parties de jeu de rôle, l’archipel, etc… 
  p Le monde de Hens a une base accessible, pour permettre à tout le monde de se l’approprier, et d’en faire une création qui aura une patte artistique propre, pour partager des oeuvres de tous horizons, rassemblées autour d’un seul et même univers. C’est un monde collaboratif où toutes les oeuvres peuvent s’inspirer les unes des autres, être réalisées à plusieurs ou individuellement. Créer et partager sont les maîtres mots de ce projet.
  p
  p Mais si la base proposée sur le site reste simple ( des villages, des pouvoirs et des personnages ), comment peut-on savoir quelles directions prendre pour réaliser nos oeuvres? C’est tout simple: en fait, c’est à vous d’inventer vos propres limites (vos axes, vos histoires, vos croyances...) à partir de la base que nous vous proposons. L’univers de Hens est interprétable, et ouvert à tous les possibles. Cela veut aussi dire que des oeuvres peuvent se contredire ou se répondre, ne pas se passer dans le même espace temps… voire même ne pas être ancrées dans la même “ réalité “ de Hens World que les autres.
  p Nous, c’est ce qui nous intéresse sur Hens World: voir des oeuvres uniques, qui suivent le chemin que seul leur auteur a choisi, encourager les créateurs à se rencontrer et à partager. Chaque création est une appropriation personnelle de l’univers de Hens et chacune détient sa propre vérité.
  
  h2 Oeuvres au contenu sensible/choquant
  p Aucune oeuvre à caractère diffamatoire, discriminatoire ne sera tolérée sur le site, cela va à l’encontre de notre règlement.
  p Pour ce qui concerne les œuvres incluant de la nudité ou de la violence, nous pouvons tolérer la présence de ce type d’œuvres du moment qu’elles sont ancrées dans un contexte adapté, romancées, artistiques, et non pornographiques ou gores dans le simple but de choquer. Néanmoins, il faut veiller à la sensibilisation sur le site: toute oeuvre à caractère potentiellement choquant ou sensible doit être accompagné d’un [+16]/[+18] au début du titre de l’œuvre. C’est une nécessité quant aux jeunes personnes qui pourraient naviguer sur le site, prenez en conscience.
  p Toute œuvre jugée déplacée pourra être refusée par l’équipe et supprimée du site.
  
  h2 Les droits d’auteurs et l’utilisation de contenu d’un tiers
  p Concernant les droits d’auteurs, vos oeuvres sont protégées en étant postées sur le site. Nous sommes une association et nous défendons tout ce qui est posté sur le site et qui reste votre propriété. Néanmoins, veillez à poster votre oeuvre d'abord sur le site avant de la partager sur vos blogs, réseaux sociaux. Pour vous protéger nous devons avoir l’exclusivité sur la date et l’heure. 
  p Pour rester crédibles, nous avons besoin que vous soyez compréhensifs à ce sujet. Ainsi, nous vous demandons, vraiment, de n’ accompagner vos créations que par des images, des photos, des musiques, des extraits littéraires, vidéos,... libres de droits. Il existe de nombreux sites qui proposent des images creative commons. Vous pouvez les visiter pour choisir de quoi accompagner vos oeuvres! Evidemment, si un artiste ( ami ou autre ) vous donne l’autorisation d’utiliser son contenu pour vos créations, vous êtes tout à fait en droit de vous en servir.
  
  h2 Le “niveau” de création & le rapport aux autres
  p Il n’y a pas vraiment d’échelle de talent sur Hens World, car cela est très subjectif. Tout le monde peut venir proposer ses créations et participer avec nous à faire vivre cet univers. 
  p L’idée pour nous et pour vous, est d’avoir une galerie de tous horizons avec un panel énorme de créations de tous styles. Néanmoins, il y a une petite liste de chose à prendre en compte pour poster, notamment le fait que nous ne souhaitons pas que des “ WIP “ et des brouillons soient postés et, que, quand une oeuvre est postée, elle doit être terminée. En ce qui concerne l’orthographe et la ponctuation, nous ne sommes pas strictes mais souhaitons un maximum d’efforts avant de poster vos oeuvres. Soyez compréhensible, lisible et faites attention à votre syntaxe. N’hésitez surtout pas à vous relire avant de poster votre création, et à vous aider d’un correcteur d'orthographe externe si nécessaire.
  p Voici une petite liste très rapide de ce que nous encourageons ou non vis à vis de la création sur Hens World:
  ul.ok-list
    li
      strong
      span S'assurer que sa création est terminée.
    li 
      strong
      span Se sentir fier(e) de sa création.
    li
      strong 
      span Se relire, être aidé pour corriger ses fautes.
    li 
      strong
      span Être prêt(e) pour la critique comme pour les ovations.
    br
    li 
      b
      span Poster un WIP, poster un brouillon.
    li 
      b
      span Poster une création incompréhensible, illisible et sans aucun effort de syntaxe.
    li
      b
      span Insulter les créations et/ou ses auteurs, critiquer négativement et sans réels arguments pouvant aider l’auteur à s’améliorer, à progresser. 
    
