.map-container
  .side-container
    .rounded-section
      h1 VOYAGEUR·SE·S
    .pop-container
      .pop-unit.wrapper.other-user(class="{{village.id}}" ng-repeat="village in popList")
        .fond-village(population-info pop-number="village.number" village="village.id")
    .rounded-section.crush-run-title(ng-if="currentEvent.slug == 'coupe-crushrun'")
      .main-title Coupe Crushrun
      .sub-title Rendez-vous au colisée d'Anar!
    .crush-run-scores(ng-if="currentEvent.slug == 'coupe-crushrun'")
      .crush-run-score(ng-repeat="score in crushrunScores" ng-class="{'king': score.king}" class="{{score.village}}")
        .value {{score.score}}
    .rounded-section
      h1(ng-show="currentEvent.slug !== 'hens_anniversary'") {{event.is_next == true ? "PROCHAIN ÉVÈNEMENT" : "ÉVÈNEMENT EN COURS"}}
      h1(ng-show="currentEvent.slug === 'hens_anniversary'") ÉVÈNEMENT SPÉCIAL
      next-event()
    .rounded-section
      saison-display
    //.version-container
      //h2 Version 0.6
      //p Le jeu de rôle différé!
      //p Un nouveau type de jeu de rôle fait son apparition! Pour ceux qui aiment prendre le temps d'écrire, cette version du jeu de rôle permet d'étaler une partie sur plusieurs semaines!
      //a.link.font-village.hover(target='_blank', href="http://forums.hens-world.fr/t20-notes-de-mise-a-jour-0-4-1") Lire la suite
    .rounded-section
      .social-links
        a.mini-link(target='_blank', href='https://www.facebook.com/hens.galerie')
          .img.facebook
        a.mini-link(target='_blank', href='https://www.youtube.com/c/hensworld')
          .img.youtube
        a.mini-link(target='_blank', href='https://twitter.com/Hens_world')
          .img.twitter
        a.mini-link(target='_blank', href='https://discord.gg/s28HfU9')
          .img.discord
        a.mini-link(target='_blank', href='https://www.instagram.com/hens_world/')
          .img.instagram
    .rounded-section 

  .map-wrapper
    video#map-global
    .map-button(ng-repeat="village in mapList.list" ng-class="{'small': village.type === 'zone'}" href="{{village.label}}" class ="noJq {{village.class}}" on-last-repeat)
      .hot(ng-class="{'active':hotCount[village.label] > 0}") {{hotCount[village.label]}}
      .geoloc
      .circle
        .map-bg-wrapper
          a.map-background(href="{{village.url}}")
      .outer-circle
      .title(ng-bind-html="village.title")       
